# Next.js
.next/
out/

# Node
node_modules/

# Python
__pycache__/
*.py[cod]
*.pyc
*.egg-info/
dist/
build/
.venv/
venv/
*.egg
python/

# Env / secrets
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
